/web/config.php
/web/bundles/
/web/uploads/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/config.yml
/app/config/parameters.yml
/app/logs/*
/app/SymfonyRequirements.php
/app/check.php
/app/config/parameters.yml
/web/config.php
/app/cache/.gitkeep
/app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/php/src/Acem/DemoBundle/