{% extends "::base.html.twig" %}

{% block title %}UserManagerSonataUserBundle:UserBusiness:businessCategoryList{% endblock %}

{% block body %}
<h1>Welcome to the UserBusiness:businessCategoryList page</h1>
{% endblock %}
